body
	{
	background: url(space-wallpaper.jpg); #000 no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	}


.planet
	{
	float: left;
	width: 64px;
	height: 64px;
	padding: 0;
	border-radius: 32px;
	}

.planet .image
	{
	position: relative;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	overflow: hidden;
	}

.planet .image img
	{
	position: relative;
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
	}

.planet .texture
	{
	position: relative;
	top: -64px;
	left: 0;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background:	url(texture.png);
	background-size: 64px 64px;
	}

.planet .shape
	{
	position: relative;
	top: -128px;
	left: 0;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background:	-moz-radial-gradient(center, circle cover,
	rgba(255,255,255,0.3) 0%,
	rgba(255,255,255,0.0) 30%,
	rgba(0,0,0,0) 60%,
	rgba(0,0,0,0) 100%);
	box-shadow: 0 -10px 15px -10px #fff,
	0 5px 15px -5px #000,
	inset 0 10px 10px -5px #fff,
	inset 0 -10px 20px 0 #000;
	}

.planet :hover
	{
	background: -moz-radial-gradient(center, circle cover,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.1) 30%,
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,0) 100%);
	box-shadow: 0 0 15px 0 #fff,
	inset 0 5px 10px 0 #fff,
	inset 0 -5px 20px 0 #000;
	}

.name
	{
	display: inline-block;
	position: relative;
	top: -45px;
	left: 60px;
	padding: 5px 15px;
	border-radius: 0 100px 100px 0;
	background:	rgba(0,0,0,0.5);
	color: #fff;
	text-align: center;
	overflow: hidden;
	font-size: 16px;
	font-family: sans;
	z-index: -1000;
	}


.orbit
	{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left:-50px;
	padding: 0;
	width:	100px;
	height: 100px;
	list-style: none;
	animation-duration: 60s;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;
	animation-play-state: running;
	}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.orbit li
	{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left:-32px;
	width:	64px;
	height: 64px;
	}

.orbit li:first-child
	{
	transform: rotate(-30deg) translateY(-200px) rotate(180deg);
	}

.orbit li:nth-child(2)
	{
	transform: rotate(-90deg) translateY(-200px) rotate(180deg);
	}

.orbit li:nth-child(3)
	{
	transform: rotate(-150deg) translateY(-200px) rotate(180deg);
	}

.orbit li:nth-child(4)
	{
	transform: rotate(30deg) translateY(-200px) rotate(180deg);
	}

.orbit li:nth-child(5)
	{
	transform: rotate(90deg) translateY(-200px) rotate(180deg);
	}

.orbit li:last-child
	{
	transform: rotate(150deg) translateY(-200px) rotate(180deg);
	}


.centerplanet
	{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
	width: 128px;
	height: 128px;
	padding: 0;
	border-radius: 64px;
	}

.centerplanet .image
	{
	position: relative;
	top: 0;
	left: 0;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	overflow: hidden;
	}

.centerplanet .image img
	{
	position: relative;
	top: 0px;
	left: 0px;
	width: 128px;
	height: 128px;
	}

.centerplanet .texture
	{
	position: relative;
	top: -128px;
	left: 0;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background:	url(texture.png);
	background-size: 128px 128px;
	}

.centerplanet .shape
	{
	position: relative;
	top: -256px;
	left: 0;
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background:	-moz-radial-gradient(center, circle cover,
		rgba(255,255,255,0.3) 0%,
		rgba(255,255,255,0.0) 30%,
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,0) 100%);
	box-shadow: 0 -20px 30px -20px #fff,
	0 10px 30px -10px #000,
	inset 0 20px 20px -10px #fff,
	inset 0 -20px 40px 0 #000;
	}

.centerplanet :hover
	{
	background: -moz-radial-gradient(center, circle cover,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.1) 30%,
		rgba(0,0,0,0) 60%,
		rgba(0,0,0,0) 100%);
	box-shadow: 0 0 30px 0 #fff,
	inset 0 10px 20px 0 #fff,
	inset 0 -10px 40px 0 #000;
	}
